<table cdk-table [dataSource]="dataSource!" [hidden]="!this.isCalendarVisible">
  <ng-container cdkColumnDef="team" sticky>
    <th cdk-header-cell *cdkHeaderCellDef></th>
    <td cdk-cell *cdkCellDef="let element">
      <div class="teamCell">{{ element["team"].displayValue }}</div>
    </td>
  </ng-container>

  <ng-container *ngFor="let column of columns" [cdkColumnDef]="column.header">
    <th cdk-header-cell *cdkHeaderCellDef>
      {{ column.header }}
    </th>
    <td
      cdk-cell
      *cdkCellDef="let element"
      [ngClass]="getCellClass(element[column.header], column)"
    >
      <div
        class="calendar-cell"
        [ngClass]="getCellTextClass(element[column.header])"
        [ngxTippy]="generateCellToolTip(element[column.header].game)"
        tippyClassName="tooltip-green-text tooltip-white-text tooltip-red-text"
        [tippyProps]="{
          allowHTML: true,
          placement: 'bottom',
          arrow: false,
          theme: 'material'
        }"
      >
        {{ element[column.header].displayValue }}
      </div>
    </td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="columnsToDisplay"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: columnsToDisplay"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="cdk-row" *cdkNoDataRow>
      <td class="cdk-cell" colspan="4">No calendar games were received from the server</td>
    </tr>
</table>