.user-squad-container {
  display: flex;
  flex-direction: column;
}

.user-squad-table-container {
  display: flex;
}

.player-combinations-container {
  padding-top: 30px;
  padding-left: 32%;
}

.players-squad-table {
  border-spacing: 0 4px !important;
  z-index: 1;
}

.btn-get-optimal-players-combinations {
  z-index: 2;
  position: relative;
  left: 10%;
  height: fit-content;
}

.mat-mdc-cell,
.mat-mdc-header-cell,
.mat-mdc-footer-cell {
  padding: 0px;
  border-bottom-style: none;
  height: 20px;
  justify-content: center;
  text-align: center;
}

.mat-mdc-row {
  height: 20px;
}

.right-column {
  padding-right: 5px;
  border-radius: 0 26px 26px 0;
}

.left-column {
  border-radius: 26px 0 0 26px;
}

.left-align {
  text-align: left;
}

.silver-cell {
  background: #e1e1e1;
}

.yellow-cell {
  background: #fef524;
}

.green-cell {
  background: #64ff8f;
}

.red-cell {
  background: #ff7e7e;
}

.green-text {
  color: #00AA30
}

.red-text {
  color: red;
}

.removed-cell {
  text-decoration: line-through;
  color: #878787;
}

.player-action-button {
  height: 26px;
  width: 26px;
  padding: 3px 0px 3px 0px;
}

.player-action-icon {
  width: 26px;
  height: 26px;
  font-size: 26px;

  background: #fef524;
  border-radius: 26px;
}

.position-span {
  display: inline-block;
  border-radius: 25px;
  text-align: center;
  line-height: 27px;
  width: 25px;
  height: 25px;
  background: #878787;
  color: #FFFFFF;
}

.clear-squad-changes-button {
  position: absolute;
  right: 5px;
  z-index: 100;
  margin-right: 0px;
}

.clear-squad-changes-button[hidden] {
  visibility: hidden;
  display: block !important;
}

.model-choice-label {
  font-weight: 700;
  text-align: center;
}