<link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet" />
<div class="calendar-filters">
  <mat-form-field>
    <mat-label>С: </mat-label>
    <input
      matInput
      [matDatepicker]="pickerFrom"
      [(ngModel)]="minFilterDate"
      (dateChange)="minFilterDate = $event.value!"
    />
    <mat-hint class="calendar-hint"></mat-hint>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="pickerFrom"
    ></mat-datepicker-toggle>
    <mat-datepicker #pickerFrom></mat-datepicker> </mat-form-field
  ><mat-form-field>
    <mat-label>По: </mat-label>
    <input
      matInput
      [matDatepicker]="pickerTo"
      [(ngModel)]="maxFilterDate"
      (dateChange)="maxFilterDate = $event.value!"
    />
    <mat-hint class="calendar-hint"></mat-hint>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="pickerTo"
    ></mat-datepicker-toggle>
    <mat-datepicker #pickerTo></mat-datepicker>
  </mat-form-field>
</div>

<div
  class="hideCalendarButton"
  (click)="this.isCalendarVisible = !this.isCalendarVisible"
>
  Свернуть
</div>

<section class="example-container" tabindex="0">
  <app-calendar-table
    [minFilterDate]="minFilterDate"
    [maxFilterDate]="maxFilterDate"
    [isCalendarVisible]="isCalendarVisible"
    [games]="games"
  ></app-calendar-table>
</section>

<section class="players-configuration-section">
  <app-players-table></app-players-table>
  <div class="user-team-block"></div>
</section>

<footer></footer>
<ngx-ui-loader></ngx-ui-loader>
