<table
  mat-table
  [dataSource]="dataSource"
  class="players-table"
  matSort
  matSortActive="expectedFantasyPoints"
  matSortDirection="desc"
  matSortStart="desc"
  (matSortChange)="announceSortChange($event)"
>
  <ng-container matColumnDef="firstChoice">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by firstChoice"
    >
      1
    </th>
    <td mat-cell *matCellDef="let element" class="first-choice-cell">
      <img
        [src]="
          getPlayerSelectedIconPath(
            1,
            element.firstChoice,
            element.secondChoice
          )
        "
        width="25"
        height="25"
      />
    </td>
  </ng-container>

  <ng-container matColumnDef="secondChoice">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by secondChoice"
    >
      2
    </th>
    <td mat-cell *matCellDef="let element" class="second-choice-cell">
      <img
        [src]="
          getPlayerSelectedIconPath(
            2,
            element.firstChoice,
            element.secondChoice
          )
        "
        width="25"
        height="25"
      />
    </td>
  </ng-container>

  <ng-container matColumnDef="playerName">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by playerName"
    >
      Игрок
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      class="left-column player-selected"
      [ngClass]="
        getPlayerSelectedClass(element.firstChoice, element.secondChoice)
      "
      [ngxTippy]="generateCellToolTip(element)"
      tippyClassName="tooltip-green-text tooltip-white-text tooltip-red-text tooltip-title tooltip-table tooltip-general"
      [tippyProps]="{
        allowHTML: true,
        placement: 'right',
        arrow: false,
        theme: 'material'
      }"
    >
      {{ element.playerName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="team">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by team"
    >
      Ком
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="
        getPlayerSelectedClass(element.firstChoice, element.secondChoice)
      "
    >
      {{ element.team }}
    </td>
  </ng-container>

  <ng-container matColumnDef="position">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by position"
    >
      Поз
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="
        getPlayerSelectedClass(element.firstChoice, element.secondChoice)
      "
    >
      {{ element.position }}
    </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by price"
    >
      Цена
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="
        getPlayerSelectedClass(element.firstChoice, element.secondChoice)
      "
    >
      {{ element.price }}
    </td>
  </ng-container>

  <ng-container matColumnDef="gamesCount">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by gamesCount"
    >
      Игр
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="
        getPlayerSelectedClass(element.firstChoice, element.secondChoice)
      "
    >
      {{ element.gamesCount }}
    </td>
  </ng-container>

  <ng-container matColumnDef="easyGamesCount">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by easyGamesCount"
    >
      ЛИ
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="
        getPlayerSelectedClass(element.firstChoice, element.secondChoice)
      "
    >
      {{ element.easyGamesCount }}
    </td>
  </ng-container>

  <ng-container matColumnDef="winPercentage">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by winPercentage"
    >
      %Очк
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="
        getPlayerSelectedClass(element.firstChoice, element.secondChoice)
      "
    >
      {{ element.winPercentage }}
    </td>
  </ng-container>

  <ng-container matColumnDef="powerPlayTime">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by powerPlayTime"
    >
      ВвБ
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="
        getPlayerSelectedClass(element.firstChoice, element.secondChoice)
      "
    >
      {{ element.powerPlayTime }}
    </td>
  </ng-container>

  <ng-container matColumnDef="powerPlayNumber">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by powerPlayNumber"
    >
      ПП
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="
        getPlayerSelectedClass(element.firstChoice, element.secondChoice)
      "
    >
      {{ element.powerPlayNumber }}
    </td>
  </ng-container>

  <ng-container matColumnDef="toi">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by toi"
    >
      TOI
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="
        getPlayerSelectedClass(element.firstChoice, element.secondChoice)
      "
    >
      {{ element.toi | TOI }}
    </td>
  </ng-container>

  <ng-container matColumnDef="shotsOnGoal">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by shotsOnGoal"
    >
      БВ
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="
        getPlayerSelectedClass(element.firstChoice, element.secondChoice)
      "
    >
      {{ element.shotsOnGoal }}
    </td>
  </ng-container>

  <ng-container matColumnDef="iXG">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by iXG"
    >
      ixG
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="
        getPlayerSelectedClass(element.firstChoice, element.secondChoice)
      "
    >
      {{ element.iXG }}
    </td>
  </ng-container>

  <ng-container matColumnDef="iCF">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by iCF"
    >
      iCF
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="
        getPlayerSelectedClass(element.firstChoice, element.secondChoice)
      "
    >
      {{ element.iCF }}
    </td>
  </ng-container>

  <ng-container matColumnDef="iHDCF">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by iHDCF"
    >
      iHDCF
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="
        getPlayerSelectedClass(element.firstChoice, element.secondChoice)
      "
    >
      {{ element.iHDCF }}
    </td>
  </ng-container>

  <ng-container matColumnDef="expectedFantasyPoints">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by expectedFantasyPoints"
    >
      ОФО
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      class="bold"
      [ngClass]="
        getPlayerSelectedClass(element.firstChoice, element.secondChoice)
      "
    >
      {{ element.expectedFantasyPoints}}
    </td>
  </ng-container>

  <ng-container matColumnDef="fantasyPointsPerGame">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by fantasyPointsPerGame"
    >
      ФПГ
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="
        getPlayerSelectedClass(element.firstChoice, element.secondChoice)
      "
    >
      {{ element.fantasyPointsPerGame}}
    </td>
  </ng-container>

  <ng-container matColumnDef="priceByExpectedFantasyPoints">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by priceByExpectedFantasyPoints"
    >
      Ц/ОФО
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="
        getPlayerSelectedClass(element.firstChoice, element.secondChoice)
      "
    >
      {{ element.priceByExpectedFantasyPoints | number: '1.0-1' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="sources">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by sources"
    >
      Источники
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      class="right-column"
      [ngClass]="
        getPlayerSelectedClass(element.firstChoice, element.secondChoice)
      "
    >
      {{ element.forecastSources }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filters</td>
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[50, 150, 500]"
showFirstLastButtons>
</mat-paginator>
