.player-filters-block {
  margin-left: 20px;
  margin-top: 30px;
}

.filters-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.player-filters-block ::ng-deep .mat-mdc-form-field {
    height: 55px;
}

.filter-label {
  line-height: 60px;
}

::ng-deep .mat-mdc-select-min-line {
  font-weight: 550;
}

.vl {
  border-left: 2px solid black;
  width: 2px;
  height: 55px;
}

.clear-filter-button {
  position: relative;
  left: -1%;
  top: -15px;
  margin-right: 0px;
}
